@model  ReferenceViewModel
<style>
    .row {
        margin: 0px;
    }

    .case-card {
        height: 100%;
        color: #212529;
    }

        .case-card .card-body {
            max-height: 180px;
            overflow: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
</style>
<div class="card-box p-0">
    <div class="input-group" style="border-bottom:1px solid #dee2e6; margin-bottom:15px;">
        <div class="input-group-prepend align-items-center">
            <span class="px-3 text-secondary" id="basic-addon1"><i class="fa fa-search"></i></span>
        </div>
        <input type="text" id="searchTextQuestions" class="form-control pl-0 border-0" placeholder="Поиск ..." aria-label="Username" aria-describedby="basic-addon1" autocomplete="on" value="@ViewBag.Search">
        <button id="showRemoves" type="button" class="btn btn-link text-custom" style="padding-left:10px; padding-right:10px;"><i class="@(ViewBag.IsRemove ? "ion-ios7-trash" : "ion-ios7-trash-outline") m-l-5" style="font-size: 20px;" data-placement="bottom" data-toggle="tooltip" data-original-title="@(ViewBag.IsRemove ? "Скрыть удаленные" : "Показать удаленные")"></i></button>
        @using (Ajax.BeginForm("PartialModalAddQuestion", "Reference", null, new AjaxOptions { UpdateTargetId = "newModal", OnSuccess = "$('#newModal').modal('show');" }, new { @class = "" }))
        {
            <button type="submit" class="btn btn-link" style="padding-top:5px; padding-right:10px;"><i class="fa fa-plus" style="font-size: 20px;"></i></button>
        }
    </div>
    <div class="row">
        @if (Model.SprQuestionList.Any())
        {
            foreach (var item in Model.SprQuestionList)
            {
                <div class="col-sm-6 col-lg-4 col-xl-4 m-b-30">
                    <div class="card case-card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <b> @item.Question </b>
                                </div>
                                <div class="col text-right">
                                    <button type="button" class="btn btn-link" style="font-size: 22px;line-height: 22px;" data-tooltip-info='{"EmployeesFio": @Json.Encode(item.EmployeesNameAdd), "employees_fio_modifi": @Json.Encode(item.IpAddressModify ?? "-"), "DateAdd": "@Html.DisplayFor(i => item.DateAdd)", "DateModify": "@Html.DisplayFor(i => item.DateModify)", "IsRemove": @Json.Encode(item.IsRemove)}'>
                                        <i class="ion-ios7-information-outline"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            @Html.Raw(item.Answer)
                        </div>
                        <div class="card-footer mt-auto">
                            <div class="row">
                                <div class="col">
                                    @item.DateAdd
                                </div>
                                <div class="col text-right">
                                    @if (User.IsInRole("superadmin") || User.IsInRole("admin"))
                                    {
                                        if (item.IsRemove != true)
                                        {
                                            using (Ajax.BeginForm("PartialModalEditQuestion", "Reference", new { FormMethod = "POST", questionId = item.Id }, new AjaxOptions { UpdateTargetId = "newModal", OnSuccess = "$('#newModal').modal('show');" }, new { @class = "form-submit" }))
                                            {
                                                <button class="btn btn-link edit-row"><i class="ion-edit"></i></button>
                                            }
                                            <button class="btn btn-link remove-row" data-question-id="@item.Id"><i class="ion-trash-b"></i></button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-link recovery-row" data-question-id="@item.Id" data-placement="top" data-toggle="tooltip" data-original-title="Восстановление"><i class="fa fa-history"></i></button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert-no-record">
                <span style="color: #00545c;"><strong><i class="icon-info"></i></strong> Нет данных </span>
            </div>
        }
    </div>

    <div class="panel-footer">
        <table class="footable table cases-table table-vertical-middle">
            <tr>
                <td class="text-left">
                    <div class="text-muted divider">Показаны  <span id="filter_count">@((Model.PageInfo.CurrentPage * Model.PageInfo.ItemsPerPage > Model.PageInfo.TotalItems) ? Model.PageInfo.TotalItems : Model.PageInfo.CurrentPage * Model.PageInfo.ItemsPerPage)</span> из <span id="tr_count">@Model.PageInfo.TotalItems</span> записей</div>
                </td>
                <td>
                    @if (Model.SprQuestionList.Count() > 10)
                    {
                        <div class="pagination pagination-split footable-pagination justify-content-end" id="datatable-editable_paginate">
                            @Html.PageLinks(Model.PageInfo, x => Ajax.ActionLink(x.NameLink, "PartialTableQuestions", "Reference", new { page = x.CurrentPage, search = ViewBag.Search, isRemove = ViewBag.IsRemove }, new AjaxOptions { UpdateTargetId = "questionsContainer" }))
                        </div>
                    }
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
        $('button[data-tooltip-info]').tooltip({
            title: function () {
                var tooltipInfo = $(this).data('tooltipInfo');
                return "<div class='text-left'>" +
                    "<strong>Добавил</strong>: " + tooltipInfo['EmployeesFio'] + "</br>" +
                    "<strong>Дата добавления</strong>: " + tooltipInfo['DateAdd'] + "</br>" +
                    "<hr class='m-t-5 m-b-5'>" +
                    "<strong>Изменил</strong>: " + tooltipInfo['employees_fio_modifi'] + "</br>" +
                    "<strong>Дата изменения</strong>: " + tooltipInfo['DateModify'] + "</br>" +
                    "</div>";
            },
            html: true,
            placement: "left"
        });
        });

        $('#searchTextQuestions').change(function () {
             $.ajax({
                 url: '@Url.Action("PartialTableQuestions", "Reference")',
                 type: 'Post',
                 data: { search: $(this).val(), isRemove:'@ViewBag.IsRemove'},
                 success: function (data) {
                     $('#questionsContainer').html(data);
                     $('#searchTextQuestions').focus();
                     var tmpStr = $('#searchTextQuestions').val();
                     $('#searchTextQuestions').val('');
                     $('#searchTextQuestions').val(tmpStr);
                 }
        });
    });

    $('#questionsContainer #showRemoves').click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PartialTableQuestions", "Reference")',
            data: { isRemove: '@(!ViewBag.IsRemove)' },
            success: function (data) {
                $('#questionsContainer').html(data);
            }
        });
    });

    $('#questionsContainer button.recovery-row').click(function () {
        var questionId = $(this).data('questionId');
        var paramObject = {
            url: '@Url.Action("SubmitQuestionRecovery", "Reference")',
            params: { questionId: questionId, search:'@ViewBag.Search', isRemove:'@ViewBag.IsRemove', page:'@Model.PageInfo.CurrentPage' },
            onSuccess: function (data) {
                $('#questionsContainer').html(data);
            }
        }
        removeRecovery(paramObject);
    });

    $('#questionsContainer button.remove-row').click(function () {
        var questionId = $(this).data('questionId');
        console.log(questionId);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SubmitQuestionDelete", "Reference")',
            data: { questionId: questionId, search:'@ViewBag.Search', isRemove:'@ViewBag.IsRemove', page:'@Model.PageInfo.CurrentPage' },
            success: function (data) {
                successDelete();
                $('#questionsContainer').html(data);
            }
        });
    });

    // Добавляем возможность выбора строки в таблице
    $('.route-table tr:not(.thead-row, .foot-row)').click(function () {
        $(this).siblings('tr:not(.thead-row)').removeClass('active');
        $(this).addClass('active');
    });
</script>
