@model IEnumerable<ReceptionCentreNew.Domain.Concrete.data_appeal_email>
@{
    ViewBag.Title = "Электронная почта";
}
<!-- Все письма -->
<link href="~/Content/new_design/plugins/footable/css/footable.core.css" rel="stylesheet">

@Html.MvcSiteMap().SiteMapPath()

<div class="card-box p-3">
    @using (Ajax.BeginForm("PartialTableEmails", "Email", null, new AjaxOptions { UpdateTargetId = "emailsTableContainer", LoadingElementId = "loadingAjax" }, new { @class = "form-horizontal" }))
    {
        <div class="collapse show" id="collapseExample" style="">
            <div class="row p-l-r-10">
                <div class="form-group col-sm-3">
                    <label class="font-12 text-muted p-t-0 m-b-0">Сотрудник</label>
                    @Html.DropDownList("sprEmployeeId", ViewBag.SprEmployees as SelectList, "Все", new Dictionary<string, object> { { "class", "form-control select2-nosearch" } })
                </div>
                <div class="form-group col-sm-3">
                    <label class="font-12 text-muted p-t-0 m-b-0">Период</label>
                    @Html.DropDownList("period", new SelectList(new List<SelectListItem>
                                               { new SelectListItem {Text = "Сегодня", Value = "1"},
                                                   new SelectListItem {Text = "Неделя", Value = "2"},
                                                   new SelectListItem {Text = "Месяц", Value = "3"},
                                                   new SelectListItem {Text = "Год", Value = "4"},
                                               }, "Value", "Text"), "Все", new Dictionary<string, object> { { "class", "form-control select2-nosearch" } })
                </div>
                <div class="form-group col-sm-3">
                    <label class="font-12 text-muted p-t-0 m-b-0">Тип</label>
                    @Html.DropDownList("type", new SelectList(new List<SelectListItem>
                                               { new SelectListItem {Text = "Входящие", Value = "2"},
                                                   new SelectListItem {Text = "Исходящие", Value = "1"}
                                               }, "Value", "Text"), "Все", new Dictionary<string, object> { { "class", "form-control select2-nosearch" } })
                </div>
                <div class="form-group col-sm-3">
                    <label class="font-12 text-muted p-t-0 m-b-0">Прикрепленные</label>
                    @Html.DropDownList("is_connected", new SelectList(new List<SelectListItem>
                                               { new SelectListItem {Text = "Да", Value = "1"},
                                                   new SelectListItem {Text = "Нет", Value = "2" }
                                               }, "Value", "Text", 2), "Все", new Dictionary<string, object> { { "class", "form-control select2-nosearch" } })
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                    <i class="ti-arrow-circle-up font-18 vertical-middle mr-1 collapse-state-active"></i>
                    <span class="hide-phone vertical-middle collapse-state-active">Свернуть поиск</span>
                    <i class="ti-arrow-circle-down font-18 vertical-middle mr-1 collapse-state-collapsed"></i>
                    <span class="hide-phone vertical-middle collapse-state-collapsed">Развернуть поиск</span>
                </button>
            </div>
            <div class="col text-right">
                <button id="button_find_emails" class="btn btn-primary waves-effect waves-light" type="submit"><i class="ion-ios7-search-strong m-r-5"></i> Найти</button>
            </div>
        </div>
    }
</div>
<div id="emailsTableContainer">
    @*@Html.Action("PartialTableEmails", "Email", new { is_connected = 2 })*@
</div>

@section scripts{
    <script>
    @*$(function () {
        $.ajax({
            async: true,
            url: '@Url.Action("ListenerAsync", "Common")',
            type: 'GET',
            success: function (data) {
                if (data.new_email != '0') {
                    $.Notification.notify('success', 'right top', 'Email!', 'Поступило новое сообщение на почтовый адрес');
                }
            }
        });
    });*@
    $(document).ready(function () {
        $(".select2").select2();
        $('#button_find_emails').click();
    });
    </script>
    <!-- Все письма -->
    <script src="~/Content/new_design/plugins/footable/js/footable.all.min.js"></script>
}