@{
    string[] fio = ["Абдурашидов", "Шамиль"];
}
<div class="topbar">
    <div class="topbar-left">
        <div class="text-center">
            <a href="/" class="logo">
                <i class="icon-c-logo"> <img src="~/img/logo.png" height="36"> </i>
                <span><img src="~/img/logo.png" height="36" style="margin-right:5px; left:-7px; position:relative"> Центр обращений</span>
            </a>
        </div>
    </div>
    <nav class="navbar-custom">
        <ul class="list-inline float-right mb-0">
            <li class="list-inline-item notification-list header-btns">
                <button type="button" Id="btnCallModal" class="btn btn-link btn-icon waves-effect waves-light mr-3">
                    <i class="md md-call"></i>
                </button>
                <button type="button" Id="btnEmailModal" class="btn btn-link btn-icon waves-effect waves-light mr-3">
                    <i class="md md-email"></i>
                </button>
                <button type="button" Id="callBackHeadBtn" class="btn btn-link btn-icon waves-effect waves-light mr-3">
                    <svg style="fill:white" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 22 22" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2zm13.54-7.1l-.71-.7L13 9.29V5h-1v6h6v-1h-4.15z" /></svg>
                    <span class="badge badge-mfc fs-12" style="font-size:12px; left:-5px;" Id="callBackCount">0</span>
                </button>
                @if (User.Identity.Name == "begamagomed")
                {
                    <button type="button" Id="btnCallAlert" title="Имитация входящего звонка по клику" class="btn btn-link btn-icon waves-effect waves-light mr-3" style="color:antiquewhite">
                        <i class="md md-call"></i>
                    </button>
                    <button type="button" Id="btnCallSocket" onclick="connect()" title="Имитация входящего звонка через сокет" class="btn btn-link btn-icon waves-effect waves-light mr-3" style="color:aliceblue">
                        <i class="md md-ring-volume"></i>
                    </button>
                }
            </li>
            <li class="list-inline-item notification-list">
                <a class="nav-link waves-light waves-effect" href="#" Id="btn-fullscreen">
                    <i class="dripicons-expand noti-icon"></i>
                </a>
            </li>

            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <img src="~/img/user_image.jpg" alt="user" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                    <div class="dropdown-item noti-title">
                        <h5 class="text-overflow"><small>@((fio.Count() >= 2) ? fio[1] + " " + fio[0] : fio[0])</small> </h5>
                    </div>
                    @if (User.IsInRole("superadmin"))
                    {
                        <a href="@Url.Action("Settings", "System")" class="dropdown-item notify-item">
                            <i class="md md-settings"></i> <span>Настройки</span>
                        </a>
                        <a href="@Url.Action("Errors", "System")" class="dropdown-item notify-item">
                            <i class="md md-error"></i> <span>Ошибки</span>
                        </a>
                        <a href="@Url.Action("ChangeLogs", "System")" class="dropdown-item notify-item">
                            <i class="md md-history"></i> <span>Изменения</span>
                        </a>
                    }
                    @if (User.Identity.Name == "begamagomed" || User.Identity.Name == "эльмира")
                    {
                        <a href="#" class="dropdown-item notify-item" Id="delete-dublication-call">
                            <i class="md md-delete"></i> <span>Дублирование</span>
                            <i class="md md-call"></i>
                        </a>
                    }
                    <a class="dropdown-item notify-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <i class="md md-settings-power"></i> <span>Выход</span>
                    </a>
                </div>
            </li>
        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-light waves-effect" title="Новое обращение">
                    <i class="dripicons-menu"></i>
                </button>
            </li>
            @if (User.IsInRole("superadmin") || User.IsInRole("admin") || User.IsInRole("operator"))
            {
                @*
            <li class="float-left">
            @using (Ajax.BeginForm("NewAppeal", "Appeal", new { }, new AjaxOptions { UpdateTargetId = "newModal", OnSuccess = "$('#newModal').modal('show');" }, new { @class = "" }))
            {
            <button class="button-menu-plus waves-light waves-effect" title="Добавить новое обращение">
            Новое обращение
            </button>
            }
            </li>
            *@
            }
            <li class="app-search">
                <form role="search">
                    <div class="app-search-group dropdown">
                        <input type="text" class="form-control" name="search" Id="navSearchString" placeholder="Поиск">
                        <button Id="appSearchBtn" type="button" class="btn btn-link waves-effect waves-light"><i class="fa fa-search"></i></button>
                        <div class="navbar-search-results" Id="searchResults" style="max-height:550px; overflow:auto;">
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </nav>
</div>