@model ReferenceViewModel

@foreach (var item in Model.DataChangeLogList)
{
    <tr>
        <td>
            @(Model.DataChangeLogList.IndexOf(item) + 1)
        </td>
        <td>
            @Html.DisplayFor(i => item.TableName)<br />
            <span class="text-muted">Поле: </span>@Html.DisplayFor(i => item.FieldName)
        </td>
        <td>
            @Html.DisplayFor(i => item.OldValue)
        </td>
        <td>
            @Html.DisplayFor(i => item.NewValue)
        </td>
        <td>
            @Html.DisplayFor(i => item.EmployeesName)
        </td>
        <td>
            @item.DateChange.ToString("yyyy.MM.dd HH:mm")
        </td>
    </tr>
}
