@model  AppealViewModel

<style>
    .conversation-list .ctext-wrap {
        background-color: #6a6c6d;
    }

        .conversation-list .ctext-wrap:after {
            border-top-color: #6a6c6d;
            border-right-color: #6a6c6d;
        }

        .conversation-list .ctext-wrap i {
            display: initial !important;
            font-size: 12px;
            font-style: normal;
            font-weight: bold;
            position: relative;
        }


    #notes ul li.edit {
        border: 1px dashed green;
    }

        #notes ul li.edit button.this-edit, #notes ul li button.this-cancel {
            display: none;
        }

        #notes ul li.edit button.this-cancel {
            display: block;
        }
</style>

    @if (@Model.DataAppealCommenttList?.Any()??false)
    {
        <div class="chat-conversation case-tab-pane">
            <ul class="conversation-list custom-scrollbar mb-4">
                @foreach (var item in Model.DataAppealCommenttList)
                {
                    if (item.SprEmployeesId == Model.EmployeeId)
                    {
                        <li class="clearfix odd data_services_commentt" data-Commentt-id="@item.Id" data-Commentt="@item.Commentt">
                            <div class="chat-avatar">
                                <img src="~/img/user_image.jpg" alt="Female">
                            </div>
                            <div class="conversation-text">
                                <div class="ctext-wrap">
                                    <div class="d-flex justify-content-between font-12">
                                        <time class="mr-3">@Html.DisplayFor(i => item.DateAdd)</time>
                                        <b>Я</b>
                                    </div>
                                    @if (item.IsRemove != true)
                                    {
                                        <p>@item.Commentt</p>
                                    }
                                    else
                                    {
                                        <p><i style="color:#505461; font-style:italic">Примечание было удалено</i></p>
                                    }
                                    <div class="text-right">
                                        @foreach (var recipient in item.DataAppealCommenttRecipients)
                                        {
                                            if (recipient.ReadDate != null)
                                            {
                                                <i class="fa fa-user m-r-5" title="@recipient.SprEmployees.EmployeesName (@recipient.ReadDate.Value.ToShortDateString())"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-user m-r-5 text-danger" title="@recipient.SprEmployees.EmployeesName"></i>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="clearfix" data-Commentt-id="@item.Id">
                            <div class="chat-avatar">
                                <img src="~/img/user_image.jpg" alt="male">
                            </div>
                            <div class="conversation-text">
                                <div class="ctext-wrap">
                                    <div class="d-flex justify-content-between font-12">
                                        <b>@Html.DisplayFor(i => item.EmployeesNameAdd)</b>
                                        <time class="ml-3 text-muted">@Html.DisplayFor(i => item.DateAdd)</time>
                                    </div>
                                    @if (item.IsRemove != true)
                                    {
                                        <p>@item.Commentt</p>
                                    }
                                    else
                                    {
                                        <p><i style="color:#505461; font-style:italic"> Примечание было удалено</i></p>
                                    }
                                    <div class="text-left">
                                        @foreach (var recipient in item.DataAppealCommenttRecipients)
                                        {
                                            if (recipient.ReadDate != null)
                                            {
                                                <i class="fa fa-user m-r-5" title="@recipient.SprEmployees.EmployeesName (@recipient.ReadDate.Value.ToShortDateString())"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-user m-r-5 text-success" title="@recipient.SprEmployees.EmployeesName"></i>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    }
    else
    {
        <div class="alert-no-record">
            <span><i class="icon-info"></i> Нет примечаний</span>
        </div>
    }
