<ul class="card-header p-0 nav nav-tabs nav-fill">
    <li class="nav-item">
        <a href="#recentCases" data-toggle="tab" aria-expanded="true" class="nav-link active">Последние обращения</a>
    </li>
    <li class="nav-item">
        <a href="#recentCalls" data-toggle="tab" aria-expanded="false" class="nav-link">Последние звонки</a>
    </li>
</ul>
<div class="card-body">
    <div class="tab-content">
        <div class="tab-pane active" id="recentCases">
            <div class="table-responsive">
                <table class="table table-td-sm table-vertical-middle mb-0">
                    <thead>
                        <tr>
                            <th class="pt-0 border-top-0">№</th>
                            <th class="pt-0 border-top-0">Дата</th>
                            <th class="pt-0 border-top-0">Обращение</th>
                            <th class="pt-0 border-top-0">Сотрудник</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int i = 0; }
                        @foreach (DataAppeal item in ViewBag.LastAppeals)
                        {
                            <tr>
                                <td>@(++i)</td>
                                <td>@item.DateAdd.Value.ToShortDateString() <br /> <small class="d-block text-muted">@item.DateAdd.Value.ToShortTimeString()</small></td>
                                <td><small class="case-text text-truncate" data-content="@item.TextAppeal"> 
                                    @Html.ActionLink(item.TextAppeal, "AppealInfo", "Appeal", new { number= item.NumberAppeal }, new {@target= "_blank"} )                                        
                                    </small></td>
                                <td class="text-nowrap">
                                    <span class="text-truncate">@item.EmployeesNameAdd</span>
                                    <span data-status="@item.SprStatusId" class="label @(item.SprStatusId == 1 ? "label-success" : item.SprStatusId == 0 ? "label-warning" : item.SprStatusId == 2 ? "label-danger" : item.SprStatusId == 3 ? "label-info" : "label-default" ) label-sm">@item.SprStatus.StatusName</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane" id="recentCalls">
            <div class="table-responsive">
                <table class="table table-td-sm table-vertical-middle mb-0">
                    <thead>
                        <tr>
                            <th class="pt-0 border-top-0">№</th>
                            <th class="pt-0 border-top-0">Дата</th>
                            <th class="text-nowrap pt-0 border-top-0">Продол-сть</th>
                            <th class="pt-0 border-top-0">Сотрудник</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int j = 0; }
                        @foreach (DataAppealCall item in ViewBag.LastCalls)
                        {
                            <tr>
                                <td>@(++j)</td>
                                <td class="text-nowrap">
                                    @item.DateCall.Value.ToShortDateString()
                                    <small class="d-block text-muted">@item.DateCall.Value.ToShortTimeString()</small>
                                </td>
                                <td>@item.TimeTalk</td>
                                <td class="text-nowrap">
                                    <span class="d-block">@item.EmployeesNameAdd</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
    $('.case-text').popover({
      trigger: 'hover',
      container: '.call-modal',
      placement: 'bottom'
    });
  });
</script>