@{
    ViewBag.Title = "Количество обращений";
}
<link href="~/new_design/plugins/Charts/css/c3.css" rel="stylesheet" />
<style>
    .c3-legend-item {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
    }
</style>
@* @Html.MvcSiteMap().SiteMapPath() *@

<div class="card-box m-t-10 p-t-10 p-b-10">
    <form id="form">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-sm form-actions m-b-0">
                    <div class="row p-l-r-10">
                        <div class="col-md-3 m-b-10">
                            <label class="font-12 text-muted p-t-0 m-b-0">МФЦ</label>
                            @Html.DropDownList("SprMfcId", ViewBag.SprMfc as SelectList, "Все", new Dictionary<string, object> { { "class", "select2 input-sm" } })
                        </div>
                        <div class="col-md-auto m-b-10">
                            <label class="font-12 text-muted p-t-0 m-b-0">Период</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text b-0"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input class="form-control required" name="Period" id="Period" />
                            </div>
                        </div>
                        <input type="hidden" id="DateStart" name="DateStart" formenctype="text/plain" />
                        <input type="hidden" id="DateStop" name="DateStop" formenctype="text/plain" />
                        <div class="col-md-6 m-b-10 text-right">
                            <br />
                            <button type="button" onclick="Show()" id="btnShowChart" class="btn btn-default waves-effect waves-light">
                                <i class="ion-ios7-search m-r-5"></i>
                                Показать
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="card-box" id="result">
    <div id="chart" style="max-height: 400px;">
        <div id="search_alert">
            <i class="md md-info-outline mr-1 vertical-middle font-18"></i> <span class="vertical-middle">Воспользуйтесь фильтром.</span>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/plugins/print/printThis.js"></script>
    <script src="~/new_design/plugins/Charts/js/c3.js"></script>
    <script src="~/new_design/plugins/Charts/js/d3.v3.min.js"></script>
    <script>
        $('form').validate();
        $('#Period').daterangepicker({
            startDate: '@DateTime.Now.AddMonths(-6)',
            endDate: '@DateTime.Now',
            maxDate: '@DateTime.Now',
            autoApply: true,
            opens: 'center',
            locale: {
                format: 'DD.MM.YYYY',
                separator: ' - ',
                applyLabel: 'Применить',
                cancelLabel: 'Отмена',
                weekLabel: 'Нед.',
                customRangeLabel: 'Выбрать диапазон',
                daysOfWeek: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            },
            autoclose: true,
            language: 'ru',
        }).on('apply.daterangepicker', function (ev, picker) {
            $('#DateStart').val(picker.startDate.format("YYYY.MM.DD HH:mm:ss"));
            $('#DateStop').val(picker.endDate.format("YYYY.MM.DD HH:mm:ss"));
            Show()
        }).on('change', function () {
            $('#DateStart').val($(this).val().split(' ')[0])
            $('#DateStop').val($(this).val().split(' ')[2]);
            Show()
        });

        Show()

        function Show() {
            $.ajax({
                url: '@Url.Action("AppealsCategoryResult", "Statistics")',
                type: 'POST',
                data: $('form#form').serializeArray(),
                success: function (data) {
                    var jsonn = JSON.parse(data);
                    GenerateChart('#chart', jsonn, 'pie', { "OutCount": "Количество" }, ['OutCount'], "Месяцы", "", false);
                }
            });
        }

        var chart;
        function GenerateChart(element, data, type_chart, names, key_values, edizmX, edizmY, transform, rotate) {
            if (transform != true) {
                chart = c3.generate({
                    bindto: element,
                    //size: { height: 300 },
                    zoom: { enabled: false },
                    data: {
                        columns: data,
                        type: 'pie',
                    },
                    tooltip: {
                        format: {
                            value: function (value, ratio, id, index) {
                                return value + " (" + Math.round(ratio * 100) + "%)";
                            }
                        }
                    },
                    legend: {
                        position: 'right'
                    },
                    grid: { x: { show: false }, y: { show: true } },
                });
            }
            else {
                chart.transform(type_chart);
            }
        }

        function printTable() {
            $('#result').printThis({
                debug: false,
                importCSS: false,
                importStyle: false,
                printContainer: true,
                loadCSS: "~/new_design/css/new_print.css",
                pageTitle: "",
                removeInline: false,
                printDelay: 333,
                header: null,
                formValues: true
            });
        }
    </script>
}