@model  CallsViewModel
<div id="printable">
    <div class="report_head" style="display:none;">
        <table width="100%">
            <tr valing="top"><td colspan="3"><div class="report_name">Количество звонков</div></td></tr>
            <tr>
                <td>
                    <img src="~/img/logo.png" align="top" height="80%" style="color:red" />
                </td>
                <td valign="top" width="60%">
                    <span class="org_name">Многофункциональный центр Республики Дагестан. Колл-центр</span>
                </td>
                <td valign="top"><div class="text-right">Распечатал(a): @ViewBag.PrintEmployee <br /> @DateTime.Now.ToShortDateString()</div></td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td>Период: <b>@ViewBag.Period</b></td>
                <td>Сотрудник: <b>@ViewBag.Employee</b></td>
            </tr>
        </table>
    </div>
    <!-- page 1 start-->
    <div class="page">
        @if (Model.CallList.Any())
        {
            <table class="table text-center">
                <thead>
                    <tr>
                        <th class=" text-left p-2"><strong>Наименование</strong></th>
                        <th class=" text-left p-2" style="width:40mm"><strong>Количество</strong></th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td class=" text-left p-2"><strong>Типы</strong></td>
                        <td></td>
                    </tr>
                    @foreach (var item in Model.CallList.GroupBy(g => g.OutCallType))
                    {
                        <tr>
                            <td class =" text-left p-2">
                                @(item.Key == 2 ? "Входящие" : "Исходящие")</td>
                            <td class=" text-left p-2">@item.Count()</td>
                        </tr>
                    }
                    <tr>
                        <td class=" text-left p-2"><strong>Прикрепленные</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class ="text-left p-2">Да</td>
                        <td class=" text-left p-2">@Model.CallList.Where(w => w.OutNumberAppeal != null).Count()</td>
                    </tr>
                    <tr>
                        <td class=" text-left p-2">Нет</td>
                        <td class=" text-left p-2">@Model.CallList.Where(w => w.OutNumberAppeal == null).Count()</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class=" text-left p-2"><strong>Всего</strong></td>
                        <td class=" text-left p-2"><strong>@Model.CallList.Count()</strong></td>
                    </tr>
                </tfoot>
            </table>
        }
        else
        {
            <div class="alert-no-record">
                <span style="color:#00545c;"><strong><i class="icon-info"></i></strong> Нет данных</span>
            </div>
        }
    </div>
</div>