@model SprEmployees 
<style>
    .checkbox label {
        padding-left: 15px;
    }

        .checkbox label::before {
            height: 25px;
            width: 25px;
        }

        .checkbox label::after {
            font-size: 18px;
        }
</style>


<script>
    $(document).ready(function () {
        $(".select2").select2();
        // $('#AddEmployeeForm').validate();
    });
</script>
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title mt-0">Добавление сотрудника</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body"> 
            <form id="AddEmployeeForm" class="form-horizontal"> 
               
                <div class="form-group row">
                    <label class="col-md-4 col-xl-4 col-form-label text-right">Должность</label>
                    <div class="col-md-6 col-xl-6">
                        @Html.DropDownListFor(model => model.SprEmployeesJobPosId, ViewBag.EmployeeJobPos as SelectList, new Dictionary<string, object> { { "class", "form-control select2" }, { "data-style", "btn-white btn-sm" } })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-xl-4 col-form-label text-right">Отдел</label>
                    <div class="col-md-6 col-xl-6">
                        @Html.DropDownListFor(model => model.SprEmployeesDepartmentId, ViewBag.EmployeeDepartments as SelectList, new Dictionary<string, object> { { "class", "form-control select2" }, { "data-style", "btn-white btn-sm" } })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-xl-4 col-form-label text-right">ФИО</label>
                    <div class="col-md-6 col-xl-6">
                        @Html.TextBoxFor(model => model.EmployeesName, new Dictionary<string, object> { { "class", "form-control required" }, { "placeholder", "Введите ФИО" }, { "required", "required" } })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-xl-4 col-form-label text-right"></label>
                    <div class="col-md-6 col-xl-6">
                        <div class="checkbox checkbox-custom">
                            @Html.CheckBoxFor(m => m.CanTakeAppeal)
                            @Html.LabelFor(m => m.CanTakeAppeal)
                        </div>
                    </div>
                </div>

                <h3 class="panel-title">Учетные данные</h3>
                <hr class="m-t-10" />
                <div class="form-group row">
                    <label class="col-md-4 col-xl-4 col-form-label text-right">Логин</label>
                    <div class="col-md-6 col-xl-6">
                        @Html.TextBoxFor(model => model.EmployeesLogin, new Dictionary<string, object> { { "class", "form-control required" }, { "placeholder", "Введите логин" } })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-xl-4 col-form-label text-right">Пароль</label>
                    <div class="col-md-6 col-xl-6">
                        <div class="input-group m-b-15">
                            @Html.TextBoxFor(model => model.EmployeesPass, new Dictionary<string, object> { { "class", "form-control required" } })
                            <span class="input-group-btn">
                                <button type="button" class="btn waves-effect waves-light btn-default"><i class="fa fa-key font-18"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="SprEmployeesDepartment" />
                <input type="hidden" asp-for="SprEmployeesJobPos" />
            </form>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel waves-effect waves-light btn-block-xs" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Отмена</button>
            <button type="button" id="saveButton" class="btn btn-success waves-effect waves-light btn-block-xs"> Сохранить <i class="fa fa-check m-l-5"></i></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $(document).ready(function () {
        $(".select2-nosearch").select2();
    });
    $("#saveButton").click(function () {
        $.ajax({
            type: "POST",
            url: "/Reference/SubmitEmployeeSave",
            data: $("#AddEmployeeForm").serialize(),
            success: function (response) {
                // Handle success response
                $('#newModal').modal('hide');
                successAdd();
            },
            error: function () {
                // Handle error
            }
        });
    });
</script> 