@model ReceptionCentreNew.Models.EmployeeViewModel
<script>
    $(document).ready(function () {
        var filtering = $('#messageTemplatesTable');
        filtering.footable();
        $('#filter_count').text($('#messageTemplatesTable.footable tbody tr:not(.footable-filtered)').length);
        $('#messageTemplatesTable #tr_count').text($('#messageTemplatesTable.footable tbody tr').length);
    });
     $(function () {
        $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
        $('button[data-tooltip-info]').tooltip({
            title: function () {
                var tooltipInfo = $(this).data('tooltipInfo');
                return "<div class='text-left'>" +
                    "<strong>Добавил</strong>: " + tooltipInfo['employees_fio'] + "</br>" +
                    "<strong>Дата добавления</strong>: " + tooltipInfo['set_date'] + "</br>" +
                    "<hr class='m-t-5 m-b-5'>" +
                    "<strong>Изменил</strong>: " + tooltipInfo['employees_fio_modifi'] + "</br>" +
                    (tooltipInfo['is_remove'] ?
                            "<hr class='m-t-5 m-b-5'>" +
                            "<strong>Удалил</strong>: " + tooltipInfo['employees_fio_remove'] + "</br>" +
                            "<strong>Причина удаления</strong>: " + tooltipInfo['commentt_remove'] + "</br>" +
                            "<strong>Дата удаления</strong>: " + tooltipInfo['date_remove'] + "</br>" : "") +
                    "</div>";
            },
            html: true,
            placement: "left"
        });
    });

                $('#templates #showRemoves').click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PartialTableEmployeesMessageTemplate", "Appeal")',
            data: { isRemove: '@(!ViewBag.IsRemove)', number:'@ViewBag.AppealNumber'  },
            success: function (data) {
                $('#newModal').html(data);
            }
        });
    });

                $('#messageTemplatesTable td button.recovery-row').click(function () {
        var templateId = $(this).closest('tr').data('templateId');
        var paramObject = {
            url: '@Url.Action("SubmiEmployeesMessageTemplateRecovery", "Appeal")',
            params: { templateId: templateId, number:'@ViewBag.AppealNumber' },
            onSuccess: function (data) {
                $('#newModal').html(data);
            }
        }
        removeRecovery(paramObject);
    });

      $('#messageTemplatesTable td button.remove-row').click(function () {
        var templateId = $(this).closest('tr').data('templateId');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SubmitEmployeesMessageTemplateDelete", "Appeal")',
            data: { templateId: templateId, number:'@ViewBag.AppealNumber' },
            success: function (data) {
                successDelete();
                $('#newModal').html(data);
            }
          });
      });

        $('#messageTemplatesTable td button.edit-row').click(function () {
        var templateId = $(this).closest('tr').data('templateId');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PartialModalEditEmployeesMessageTemplate", "Appeal")',
            data: { templateId: templateId, number:'@ViewBag.AppealNumber' },
            success: function (data) {
                $('#newModal').modal('show');
                $('#newModal').html(data);
            }
        });
    });
</script>
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title mt-0">Шаблоны сообщений</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-sm-10">

                </div>
                <div class="col-sm-2">
                    <div class="text-right">
                        @using (Ajax.BeginForm("PartialModalAddEmployeesMessageTemplate", "Appeal", new { number = ViewBag.AppealNumber }, new AjaxOptions { UpdateTargetId = "newModal", OnSuccess = "$('#newModal').modal('show');" }, new { @class = "form-submit" }))
                        {
                            <button type="submit" class="btn btn-mfc waves-effect waves-light"> Добавить <i class="fa fa-plus m-l-5"></i></button>
                        }
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="messageTemplatesTable" class="table table-hover table-vertical-middle" data-page-size="10" data-limit-navigation="5">
                    <thead>
                        <tr>
                            <th class="number-row p-l-20-important">№</th>
                            <th>@Html.DisplayNameFor(model => model.SprEmployeesMessageTemplateList.First().message_text)</th>
                            <th>@Html.DisplayNameFor(model => model.SprEmployeesMessageTemplateList.First().sort)</th>
                            <th class="text-right p-r-20-important">
                                <button id="showRemoves" type="button" class="btn btn-link p-r-0 text-custom"><i class="@(ViewBag.IsRemove ? "ion-ios7-trash" : "ion-ios7-trash-outline") m-l-5" style="font-size: 20px;" data-placement="bottom" data-toggle="tooltip" data-original-title="@(ViewBag.IsRemove ? "Скрыть удаленные" : "Показать удаленные")"></i></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.SprEmployeesMessageTemplateList.Any())
                        {
                            foreach (var item in Model.SprEmployeesMessageTemplateList)
                            {
                                <tr data-template-id="@item.id" class="@(item.is_remove == true ? "danger" : "")">
                                    <td class="number-row p-l-20-important">
                                        @((Model.PageInfo.CurrentPage - 1) * Model.PageInfo.ItemsPerPage + ++Model.PageInfo.NumberRow)
                                    </td>
                                    <td>
                                        <span>@Html.DisplayFor(i => item.message_text)</span><br>
                                    </td>
                                    <td>
                                        <span>@Html.DisplayFor(i => item.sort)</span><br>
                                    </td>
                                    <td class="actions text-right">
                                        @if (item.spr_employees_id == Model.EmployeeId)
                                        {
                                            if (item.is_remove != true)
                                            {
                                                <button class="btn btn-link on-default edit-row"><i class="ion-edit"></i></button>
                                                <button class="btn btn-link on-default remove-row"><i class="ion-trash-b"></i></button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-link on-default recovery-row" data-placement="top" data-toggle="tooltip" data-original-title="Восстановление"><i class="fa fa-history"></i></button>
                                            }
                                        }
                                        <button type="button" class="btn btn-link on-default" style="font-size: 22px;line-height: 22px;" data-tooltip-info='{"employees_fio": @Json.Encode(item.employees_name_add), "employees_fio_modifi": @Json.Encode(item.employees_name_modify ?? "-"), "set_date": "@Html.DisplayFor(i=>item.date_add)", "is_remove": @Json.Encode(item.is_remove)}'>
                                            <i class="ion-ios7-information-outline"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="number-row p-0" colspan="6">
                                    <div class="alert-no-record">
                                        <span style="color:#00545c;"><strong><i class="icon-info"></i></strong> Нет записей</span>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <div class="text-muted divider">Найдено  <span id="filter_count"></span> из <span id="tr_count"></span> записей</div>
                            </td>
                            <td colspan="4">
                                <div class="text-right">
                                    <ul class="pagination pagination-split footable-pagination justify-content-end m-t-5 m-b-5"></ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="modal-footer">
                @using (Ajax.BeginForm("AppealInfo", "Appeal", new { number = ViewBag.AppealNumber, modal = true }, new AjaxOptions { UpdateTargetId = "newModal", OnSuccess= "$('a[href=\"#notes\"]').click()"}, new { @id = "backToAppealInfo", @class = "" }))
                {
                    <button type="submit" class="btn btn-secondary waves-effect waves-light">Назад</button>
                }
                <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

