@model ReceptionCentreNew.Models.ReferenceViewModel
<div class="card-box p-0">
    <div class="table-responsive">
        <table id="errorsTable" class="footable journal-incoming table table-td-sm table-vertical-middle mb-0" data-page-size="10" data-limit-navigation="5">
            <div class="input-group">
                <div class="input-group-prepend align-items-center">
                    <span class="px-3 text-secondary" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" id="searchTextErrors" name="search" value="@ViewBag.Serach" title=" ... нажмите Enter" class="form-control pl-0 border-0" placeholder="Поиск ..." aria-label="Username" aria-describedby="basic-addon1" autocomplete="on">
                <div class="input-group-append align-items-center">
                    <span class="px-3 text-secondary" id="basic-addon1"><i class="md md-keyboard-return"></i></span>
                </div>
            </div>
            <tbody>
            <thead>
                <tr class="text">
                    <th class="number-row" style="min-width:45px;">№</th>
                    <th>@Html.DisplayNameFor(model => model.ErrorsList.FirstOrDefault().error_date)</th>
                    <th>@Html.DisplayNameFor(model => model.ErrorsList.FirstOrDefault().error_message)</th>
                    <th class="p-r-20-important">@Html.DisplayNameFor(model => model.ErrorsList.FirstOrDefault().employees_name)</th>
                </tr>
            </thead>
            <tbody>
                @{ int index = 1;}
                @foreach (var item in Model.ErrorsList)
                {
                    <tr class="text">
                        <td class="number-row"> @(index++)</td>
                        <td class="p-l-20-important">@item.error_date.ToString("yyyy.MM.dd HH:mm:ss")</td>
                        <td>@item.error_message</td>
                        <td class="p-r-20-important">@item.employees_name</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="text-left">
                        <div class="text-muted divider">Показаны  <span id="filter_count">@((Model.PageInfo.CurrentPage * Model.PageInfo.ItemsPerPage > Model.PageInfo.TotalItems) ? Model.PageInfo.TotalItems : Model.PageInfo.CurrentPage * Model.PageInfo.ItemsPerPage)</span> из <span id="tr_count">@Model.PageInfo.TotalItems</span> записей</div>                        
                    </td>
                    <td colspan="2">
                        <div class="pagination pagination-split footable-pagination justify-content-end m-t-5 m-b-5" id="datatable-editable_paginate">
                            @Html.PageLinks(Model.PageInfo, x => Ajax.ActionLink(x.NameLink, "PartialTableErrors", "System", new { page = x.CurrentPage, search = ViewBag.Serach}, new AjaxOptions { UpdateTargetId = "partialTableErrorsContainer" }))
                        </div>
                    </td>
                </tr>                
            </tfoot>
        </table>
    </div>
</div>

<script>
 
</script>