@model List<SprSetting> 
@{
    ViewBag.Title = "Настройки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Все настройки -->
<link href="~/new_design/plugins/footable/css/footable.core.css" rel="stylesheet">

<div id="settings">
    <div class="card-box p-0">
        <div class="table-responsive">
            <div class="input-group">
                <div class="input-group-prepend align-items-center">
                    <span class="px-3 text-secondary" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" id="searchTextSettings" class="form-control pl-0 border-0" placeholder="Поиск ..." aria-label="Username" aria-describedby="basic-addon1" autocomplete="on">
            </div>
            <table id="settingsTable" class="journal-incoming table route-table table-td-sm table-vertical-middle mb-0" data-page-size="10" data-limit-navigation="5">
                <tbody>
                    @{
                        int i = 0;
                    }
                    @foreach (var item in Model)
                    {
                        { i++; }
                        <tr id="@item.Id">
                            <td class="number-row p-l-20-important">
                                @i.ToString()
                            </td>
                            <td>
                                <span name>@item.ParamName</span>
                            </td>
                            <td>
                                <span val>@item.ParamValue</span>
                            </td>
                            <td>
                                <span comment>@item.Commentt</span>
                            </td>
                            <td class="actions text-right">
                                @if (User.IsInRole("superadmin") || User.IsInRole("admin"))
                                {
                                    <button class="on-default edit-row btn btn-link" type="button" onclick="Edit('@item.Id')">
                                        <i class="ion-edit"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="foot-row">
                        <td colspan="2" class="text-left">
                            <div class="text-muted divider">Найдено  <span id="filter_count"></span> из <span id="tr_count"></span> записей</div>
                        </td> 
                        <td colspan="3">
                            <div class="text-right">
                                <ul class="pagination pagination-split footable-pagination justify-content-end m-t-5 m-b-5"></ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/new_design/plugins/jquery.steps/js/jquery.steps.min.js"></script>
    <script src="~/new_design/plugins/footable/js/footable.all.min.js"></script>

    <script> 

        $(document).ready(function () {
            var filtering = $('#settingsTable');
            filtering.footable();
            $('#settingsTable #filter_count').text($('#settingsTable.footable tbody tr:not(.footable-filtered)').length);
            $('#settingsTable #tr_count').text($('#settingsTable.footable tbody tr').length);

            // Search input
            $('#searchTextSettings').keyup(function (evt) {
                evt.preventDefault();
                filtering.trigger('footable_filter', { filter: $(this).val() });
                $('#settingsTable #filter_count').text($('#settingsTable.footable tbody tr:not(.footable-filtered)').length);
            });
        });

        function Edit(settingId) {
            $.ajax({
                type: 'GET',
                url: 'Settings/Edit',
                data: { settingId: settingId },
                success: function (data) {
                    $('#newModal').html(data);
                    $('#newModal').modal('show');
                },
                error: function () {
                    errorAction();
                }
            });
        }
    </script>
}