@model PagerViewModel<SprSetting>
@{
    ViewBag.Title = "Настройки"; 
}
 
<div id="settings">
    <div class="card-box p-0">
        <div class="table-responsive">
            <div class="input-group">
                <div class="input-group-prepend align-items-center">
                    <span class="px-3 text-secondary" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" id="searchTextSettings" class="form-control pl-0 border-0" placeholder="Поиск ..." aria-label="Username" aria-describedby="basic-addon1" autocomplete="on">
            </div>
            <table id="settingsTable" class="journal-incoming table route-table table-td-sm table-vertical-middle mb-0" data-page-size="10" data-limit-navigation="5">
                <tbody>
                    @{
                        int i = 0;
                    }
                    @foreach (var item in Model.Items)
                    {
                        { i++; }
                        <tr id="@item.Id">
                            <td class="number-row p-l-20-important">
                                @i.ToString()
                            </td>
                            <td>
                                <span name>@item.ParamName</span>
                            </td>
                            <td>
                                <span val>@item.ParamValue</span>
                            </td>
                            <td>
                                <span comment>@item.Commentt</span>
                            </td>
                            <td class="actions text-right">
                                @if (User.IsInRole("superadmin") || User.IsInRole("admin"))
                                {
                                    <button class="on-default edit-row btn btn-link" type="button" onclick="Edit('@item.Id')">
                                        <i class="ion-edit"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="foot-row">
                        <td colspan="2" class="text-left">
                            <div class="text-muted divider">Найдено  <span id="filter_count"></span> из <span id="tr_count"></span> записей</div>
                        </td> 
                        <td colspan="3">
                            <div class="text-right">
                                <ul class="pagination pagination-split footable-pagination justify-content-end m-t-5 m-b-5"></ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <ul id="emp-pagination" class="pagination"></ul> 
            <input asp-for="Pager.NumberOfPages" type="hidden" id="hdnTotalNumberOfPages" value="@Model.Pager.NumberOfPages" />
            <input asp-for="Pager.CurrentPage" type="hidden" id="hdnCurrentPage" value="@Model.Pager.CurrentPage" />
        </div>
    </div>
</div>

@section scripts {  
    <script>
        $(function () {
            $('#emp-pagination').pagination({
                pages: $('#hdnTotalNumberOfPages').val(),
                currentPage: $('#hdnCurrentPage').val(),
                itemsOnPage: 10,
                cssStyle: 'light-theme',
                onPageClick: function (pageNo) {
                    var url = "/Settings/Index?pageNumber=" + pageNo;
                    window.location.href = url;
                },
                hrefTextSuffix: '',
                selectOnClick: true
            });
        });

        function Edit(settingId) {
            $.ajax({
                type: 'GET',
                url: 'Settings/Edit',
                data: { settingId: settingId },
                success: function (data) {
                    $('#newModal').html(data);
                    $('#newModal').modal('show');
                },
                error: function () {
                    errorAction();
                }
            });
        }
    </script>
}