@model IEnumerable<ReceptionCentreNew.Domain.Concrete.spr_setting>

<div class="card-box p-0">
    <div class="table-responsive">
        <table id="settingsTable" class="journal-incoming table route-table table-td-sm table-vertical-middle mb-0" data-page-size="10" data-limit-navigation="5">
            <div class="input-group">
                <div class="input-group-prepend align-items-center">
                    <span class="px-3 text-secondary" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" id="searchTextSettings" class="form-control pl-0 border-0" placeholder="Поиск ..." aria-label="Username" aria-describedby="basic-addon1" autocomplete="on">
            </div>
            <tbody>
                @{int i = 0; }
                @foreach (var item in Model)
                {
                    { i++; }
                    <tr data-settings-id="@item.id">
                        <td class="number-row p-l-20-important">
                            @i.ToString()
                        </td>
                        <td>
                            <span>@item.param_name</span><br>
                        </td>
                        <td>
                            <span>@item.param_value</span><br>
                        </td>
                        <td>
                            <span>@item.commentt</span><br>
                        </td>
                        <td class="actions text-right">
                            @if (User.IsInRole("superadmin") || User.IsInRole("admin"))
                            {
                                using (Ajax.BeginForm("EditSetting", "System", new { FormMethod = "POST", settingId = item.id }, new AjaxOptions { UpdateTargetId = "newModal", OnSuccess = "$('#newModal').modal('show');" }, new { @class = "form-submit" }))
                                {
                                    <button class="on-default edit-row btn btn-link"><i class="ion-edit"></i></button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="foot-row">
                    <td colspan="3" class="text-left">
                        <div class="text-muted divider">Найдено  <span id="filter_count"></span> из <span id="tr_count"></span> записей</div>
                    </td>
                    <td colspan="3">
                        <div class="text-right">
                            <ul class="pagination pagination-split footable-pagination justify-content-end m-t-5 m-b-5"></ul>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>