@model ReceptionCentreNew.Data.Context.App.DataAppeal
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title mt-0">Позвонить</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card-box">
                <div class="text-center">
                    <img class="swal2-image rounded-circle" src="/Content/new_design/assets/images/users/avatar-6.jpg" width="100" height="100">
                    <h5 class="">@Model.ApplicantName</h5>
                    <h6 class="">@Model.PhoneNumber</h6>
                </div>
                
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8 text-center">
                        @{
                            string phone = Model.PhoneNumber.Replace("(", "").Replace(")", "").Replace("-", "");
                            if (Model.PhoneNumber.Length == 10 && Model.PhoneNumber.Substring(0, 4) == "8722")
                            { phone = phone.Substring(4, phone.Length); }
                        }
                        <input type="text" class="form-control" id="modal_phone_number" value="@phone" />
                        
                    </div>
                    <div class="col-sm-1"></div>                    
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">
                        <button type="button" id="CallOn" class="link btn btn-success waves-effect waves-light" style="width:65px; height:65px; font-size:32px; border-radius:50%" data-phone-number="@Model.PhoneNumber"><i class="glyphicon glyphicon-earphone"></i></button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    //$(document).ready(function () {
    $('button#CallOn').click(function () {
        var PhoneNumber = $('#modal_phone_number').val();
            if (PhoneNumber.length >= 5) {
                console.log(PhoneNumber);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("_CallPhone", "Appeal")',
                    data: { appealId: '@Model.Id', PhoneNumber: PhoneNumber },
                    success: function (result) {
                        //var socket = new WebSocket("ws://192.168.35.190:8886");
                        var socket = new WebSocket("ws://localhost:8886");
                        socket.onopen = function () {
                            socket.send(result);
                        };
                        $('#newModal').modal('hide');
                    },
                    error: function (event) {
                        $.Notification.notify('error', 'right top', 'Ошибка!', 'Произошла ошибка при попытке осуществления звонка.');
                        console.log(event);
                    }
                });
            }
            else {
                $.Notification.notify('error', 'right top', 'Ошибка!', 'Отсутствует номер телефона заявителя. Звонок невозможен');
            }
        });
        //});
</script>
