@model IEnumerable<ReceptionCentreNew.Data.Context.App.DataAppeal>
@{
    ViewBag.Title = "Все обращения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/new_design/plugins/footable/css/footable.core.css" rel="stylesheet">
<style>
    .appeal_active {
        background-color: #f2f2f2;
    }
    .alert-no-record {
        position: relative;
        padding: .75rem 1.25rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }
</style>
@Html.MvcSiteMap().SiteMapPath()

<div class="card-box p-3 m-b-0">
    @using (Ajax.BeginForm("PartialTableAppeals", "Appeal", null, new AjaxOptions { UpdateTargetId = "appealsTableContainer", HttpMethod = "POST", LoadingElementId = "loadingAjax" }, new { @class = "form-horizontal" }))
    {
        <div class="collapse show" id="casesFilter" style="">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-sm form-actions m-b-0">
                        <div class="row p-l-r-10">
                            <div class="col-md-3 m-b-10">
                                <label>Сотрудник</label>
                                @if (User.IsInRole("superadmin") || User.IsInRole("admin") || User.IsInRole("operator"))
                                {
                                    @Html.DropDownList("sprEmployeeId", ViewBag.SprEmployees as SelectList, "Все", new Dictionary<string, object> { { "class", "select2 input-sm" } })
                                }
                                else
                                {
                                    @Html.DropDownList("sprEmployeeId", ViewBag.SprEmployees as SelectList, "Все", new Dictionary<string, object> { { "class", "select2 input-sm" } })
                                }
                            </div>
                            <div class="col-md-3 m-b-10">
                                <label>Период</label>
                                @Html.DropDownList("period", new SelectList(new List<SelectListItem>
                           { new SelectListItem {Text = "Сегодня", Value = "1"},
                                                                                                               new SelectListItem {Text = "Неделя", Value = "2"},
                                                                                                               new SelectListItem {Text = "Месяц", Value = "3"},
                                                                                                               new SelectListItem {Text = "Год", Value = "4"},
                                                                                                           }, "Value", "Text"), "Все", new Dictionary<string, object> { { "class", "select2 input-sm" } })
                            </div>
                            <div class="col-md-3 m-b-10">
                                <label>Статус</label>
                                @Html.DropDownList("sprStatusId", ViewBag.SprStatus as SelectList, "Все", new Dictionary<string, object> { { "class", "select2 input-sm" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-sm form-actions m-b-0">
                        <div class="row p-l-r-10">
                            <div class="col-md-3 m-b-10">
                                <label>Тип</label>
                                @Html.DropDownList("sprTypeID", ViewBag.SprType as SelectList, "Все", new Dictionary<string, object> { { "class", "select2 input-sm" } })
                            </div>
                            <div class="col-md-3 m-b-10">
                                <label>Тип сложности</label>
                                @Html.DropDownList("sprTypeDifficultyId", ViewBag.SprTypeDifficulty as SelectList, "Все", new Dictionary<string, object> { { "class", "select2 input-sm" } })
                            </div>
                            <div class="col-md-3 m-b-10">
                                <label>Предмет обращения</label>
                                @Html.DropDownList("sprSubjectId", ViewBag.SprSubject as SelectList, "Все", new Dictionary<string, object> { { "class", "select2 input-sm" } })
                            </div>
                            <div class="col-md-3 m-b-10">
                                <label>Категория</label>
                                @Html.DropDownList("sprCategoryId", ViewBag.SprCategory as SelectList, "Все", new Dictionary<string, object> { { "class", "select2 input-sm" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="m-t-0">
        </div>

        <div class="row align-items-center">
            <div class="col">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#casesFilter" aria-expanded="true" aria-controls="casesFilter">
                    <i class="ti-arrow-circle-up font-18 vertical-middle mr-1 collapse-state-active"></i>
                    <span class="hide-phone vertical-middle collapse-state-active">Свернуть поиск</span>
                    <i class="ti-arrow-circle-down font-18 vertical-middle mr-1 collapse-state-collapsed"></i>
                    <span class="hide-phone vertical-middle collapse-state-collapsed">Развернуть поиск</span>
                </button>
            </div>
            <div class="col text-right">
                <button id="button_find_appeals" class="btn btn-primary waves-effect waves-light" type="submit"><i class="ion-ios7-search-strong m-r-5"></i> Найти</button>
            </div>
        </div>
    }
</div>
<div id="appealsTableContainer">
    @*@Html.Action("PartialTableAppeals", "Appeal", new { sprEmployeeId = @ViewBag.SprEmployeesId, sprStatusId = 0 })*@
</div>

@section scripts {
<script>
        $(document).ready(function () {
            $(".select2").select2();
            $('#button_find_appeals').click();
            $(document).on('click','#appealsTable tbody tr',function () {
                $('#appealsTable tbody tr').each(function (item) {
                    $(this).removeClass("appeal_active");
                });
                $(this).addClass("appeal_active");
            });             
    });
    $(document).on('change', '#searchTextAppeals', function () {
        var sprEmployeeId = $('#sprEmployeeId').val();
        var period = $('#period').val();
        var sprTypeId = $('#sprTypeID').val();
        var sprTypeDifficultyId = $('#sprTypeDifficultyId').val();
        var sprSubjectId = $('#sprSubjectId').val();
        var sprStatusId = $('#sprStatusId').val();
        var sprCategoryId = $('#sprCategoryId').val();
        
             $.ajax({
                 url: '@Url.Action("PartialTableAppeals", "Appeal")',
                 type: 'Post',
                 data: { search: $(this).val(), period: period, sprEmployeeId: sprEmployeeId, sprTypeId: sprTypeId, sprTypeDifficultyId: sprTypeDifficultyId, sprSubjectId: sprSubjectId, sprStatusId:sprStatusId, sprCategoryId:sprCategoryId },
                 success: function (data) {
                     $('#appealsTableContainer').html(data);
                     $('#searchTextAppeals').focus();
                     var tmpStr = $('#searchTextAppeals').val();
                     $('#searchTextAppeals').val('');
                     $('#searchTextAppeals').val(tmpStr);
                 }
             });
            });
    </script>

}


