@model IEnumerable<AccountCase>
<div>
    <span id="back-to-customers"><a href="#">< назад</a></span>
    @if (Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-td-sm table-vertical-middle mb-0">
                <thead>
                    <tr>
                        <th class="pt-0 border-top-0">№</th>
                        <th class="pt-0 border-top-0">Дата</th>
                        <th class="pt-0 border-top-0">Дело</th>
                        <th class="pt-0 border-top-0">Сотрудник</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(++i)</td>
                            <td>
                                <small>@item.DateEnter.ToShortDateString()</small>
                                <span class="label label-sm">@item.Status</span>
                            </td>
                            <td>
                                <small class="text-truncate" data-content="@item.ServicesProviderName"><b>@item.ServicesProviderName</b></small>
                                <small class="text-truncate case-text" data-content="@item.ServicesSubName">
                                    <a href="~/Case?CaseId=@item.DataServicesInfoId.Replace("#","")" target="_blank">@item.ServicesSubName</a>                                    
                                </small>
                            </td>
                            <td class="text-nowrap">
                                <small class="text-truncate" data-content="@item.MfcName">@item.MfcName</small>
                                <small class="text-truncate" data-content="@item.EmployeesFio">@item.EmployeesFio</small>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div>
            <span><strong><i class="icon-info"></i></strong> Не найдено.</span>
        </div>
    }
</div>
<script>
    $(function () {
    $('.case-text, .text-truncate').popover({
      trigger: 'hover',
      container: '.call-modal',
      placement: 'bottom'
    });
  });
</script>