@{
    ViewBag.Title = "Входящие";
}

<div class="card-box p-3">
    <form id="InForm" class="form-horizontal">
        <input type="hidden" name="action_" id="action_" value="2" />
        <div id="collapseExample" class="collapse show">
            <div class="row p-l-r-10">
                <div class="form-group col-sm-3">
                    <label class="font-12 text-muted p-t-0 m-b-0">Источник</label>
                    @Html.DropDownList("sources", new SelectList(new List<SelectListItem>
                    { new SelectListItem {Text = "Звонок", Value = "1"},
                    new SelectListItem {Text = "E-mail", Value = "2"},
                    new SelectListItem {Text = "Смс", Value = "3"},
                    new SelectListItem {Text = "Файл", Value = "4"},
                    }, "Value", "Text"), "Все", new Dictionary<string, object> { { "class", "form-control select2-nosearch" } })
                </div>
                <div class="col-md-auto m-b-10">
                    <label class="font-12 text-muted p-t-0 m-b-0">Период</label>
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text b-0"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input class="form-control required" name="Period" id="Period" />
                    </div>
                </div>
                <input type="hidden" id="DateStart" name="DateStart" formenctype="text/plain" />
                <input type="hidden" id="DateStop" name="DateStop" formenctype="text/plain" />
                <div class="form-group col-sm-3">
                    <label class="font-12 text-muted p-t-0 m-b-0">Прикрепленные</label>
                    @Html.DropDownList("isConnected", new SelectList(new List<SelectListItem>
                    { new SelectListItem {Text = "Да", Value = "1"},
                    new SelectListItem {Text = "Нет", Value = "2" }
                    }, "Value", "Text"), "Все", new Dictionary<string, object> { { "class", "form-control select2-nosearch" } })
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                    <i class="ti-arrow-circle-up font-18 vertical-middle mr-1 collapse-state-active"></i>
                    <span class="hide-phone vertical-middle collapse-state-active">Свернуть поиск</span>
                    <i class="ti-arrow-circle-down font-18 vertical-middle mr-1 collapse-state-collapsed"></i>
                    <span class="hide-phone vertical-middle collapse-state-collapsed">Развернуть поиск</span>
                </button>
            </div>
            <div class="col text-right">
                <button id="button_find_sources" onclick="Search()" class="btn btn-primary waves-effect waves-light" type="button"><i class="ion-ios7-search-strong m-r-5"></i> Найти</button>
            </div>
        </div>
    </form>
</div>
<div id="sourcesTableContainer">
</div>

@section scripts {
    <script>
        $(function () {
            $(".select2").select2();
            $('#Period').daterangepicker({
                startDate: '@DateTime.Now',
                endDate: '@DateTime.Now',
                maxDate: '@DateTime.Now',
                autoApply: true,
                opens: 'center',
                locale: {
                    format: 'DD.MM.YYYY',
                    separator: ' - ',
                    applyLabel: 'Применить',
                    cancelLabel: 'Отмена',
                    weekLabel: 'Нед.',
                    customRangeLabel: 'Выбрать диапазон',
                    daysOfWeek: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                    monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                },
                autoclose: true,
                language: 'ru',
            }).on('apply.daterangepicker', function (ev, picker) {
                $('#DateStart').val(picker.startDate.format("YYYY.MM.DD HH:mm:ss"));
                $('#DateStop').val(picker.endDate.format("YYYY.MM.DD HH:mm:ss"));
                Search()
            }).on('change', function () {
                Search()
            });

            Search();
        })

        function Search() {
            $('#DateStart').val($('#Period').val().split(' ')[0])
            $('#DateStop').val($('#Period').val().split(' ')[2]);
            console.log($('#DateStart').val())
            $.ajax({
                type: 'POST',
                url: '@Url.Action("PartialTableSources", "Sources")',
                data: $("#InForm").serialize(),
                success: function (data) {
                    $('#sourcesTableContainer').html(data);
                }
            });
        }

        $(document).on('change', '#searchTextSources', function () {
            var action = $('#action_').val();
            var sources = $('#sources').val();
            var sprEmployeeId = $('#sprEmployeeId').val();
            var period = $('#period').val();
            var isConnected = $('#isConnected').val();
            $.ajax({
                url: '@Url.Action("PartialTableSources", "Sources")',
                type: 'POST',
                data: { search: $(this).val(), action_: action, sources: sources, period: period, sprEmployeeId: sprEmployeeId, isConnected: isConnected },
                success: function (data) {
                    $('#sourcesTableContainer').html(data);
                    $('#searchTextSources').focus();
                    var tmpStr = $('#searchTextSources').val();
                    $('#searchTextSources').val('');
                    $('#searchTextSources').val(tmpStr);
                },
                error: function (data) {
                }
            });
        });

        function AudioPlay(id) {
            $.ajax({
                url: '@Url.Action("Play_Audio", "Call")',
                type: 'GET',
                data: { id: id },
                success: function (data) {
                    console.log(data);
                    $('#sources_play_content').html(data);
                    $('#sources_play_content audio').trigger("play");
                }
            });
        }
    </script>
}