@model SourcesViewModel
<div class="card-box p-0">
    <div class="table-responsive">
        <table id="sourcesTable" class="footable journal-incoming table route-table table-td-sm table-vertical-middle mb-0" data-page-size="10" data-limit-navigation="5">
            <div class="input-group">
                <div class="input-group-prepend align-items-center">
                    <span class="px-3 text-secondary" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" id="searchTextSources" value="@ViewBag.Search" class="form-control pl-0 border-0" placeholder="Поиск ..." aria-label="Username" aria-describedby="basic-addon1" autocomplete="on">
                <div class="input-group-append align-items-center">
                    <span class="px-3 text-secondary" id="basic-addon1"><i class="md md-keyboard-return"></i></span>
                </div>
            </div>
            @if (Model.SourceModel.Any())
            {
                <tbody>
                    @{
                        int i = Model.PageInfo.CurrentPage * 10 - 9;
                    }
                    @foreach (var item in Model.SourceModel.OrderByDescending(o => o.DateAdd) )
                    {
                        <tr>
                            <td>
                                @((Model.PageInfo.CurrentPage - 1) * Model.PageInfo.ItemsPerPage + ++Model.PageInfo.NumberRow)
                            </td>
                            <td class="vertical-middle p-l-20-important text-nowrap">
                                 @item.ApplicantName
                            </td>
                            <td class="vertical-middle">
                                @item.Contact
                            </td>
                            <td class="vertical-middle">
                                @item.DateAdd.Value.ToString("dd.MM.yyyy")
                                <small class="d-block text-muted">@item.DateAdd.Value.ToString("HH:mm:ss")</small>
                            </td>
                            <td class="vertical-middle">
                                @item.Option
                            </td>
                            <td class="vertical-middle p-r-20-important text-right" style="font-size: 22px;line-height: 22px;">
                                @if (item.SaveFtp)
                                {
                                    <button type="button" class="btn btn-link btn-audio" onclick="AudioPlay('@item.Id')"><i class="md md-play-circle-outline"></i></button>
                                }
                                @if (item.NumberAppeal == null)
                                {
                                    if (User.IsInRole("superadmin") || User.IsInRole("admin") || User.IsInRole("operator"))
                                    {
                                        if (item.Type == SourcesType.call)
                                        {
                                            <form asp-action="NewAppeal" asp-controller="Applicant" asp-route-CallId="@item.Id" asp-route-ApplicantName="@(item.ApplicantName != "Заявитель не найден!" ? item.ApplicantName : "")" asp-route-Modal="true" method="post" data-ajax="true" data-ajax-update="#newModal" data-ajax-success="$('#newModal').modal('show');" class="form-submit">
                                                <button type="submit" title="Создать обращение на основе звонка" class="btn waves-effect waves-light btn-sm bg-custom"><i class="fa fa-plus" style="color:white;"></i></button>
                                            </form>
                                        }
                                    }
                                }
                                else
                                {
                                    <form asp-action="AppealInfo" asp-controller="Appeal" asp-route-number="@item.Option" asp-route-Modal="true" method="post" data-ajax="true" data-ajax-update="#newModal" data-ajax-success="$('#newModal').modal('show');" class="form-submit">
                                        <button type="submit" title="Перейти к обращению" class="btn waves-effect waves-light btn-sm btn-danger"><i class="fa fa-chevron-right"></i></button>
                                    </form>
                                }
                                @if (item.Type == SourcesType.call)
                                {
                                    <button type="button" class="btn waves-effect waves-light btn-sm bg-custom" onclick="onCallModalBtnClick('@item.Contact','@item.NumberAppeal')"><i class="md md-call" style="color:white;"></i></button>
                                }
                                @if (item.Type == SourcesType.email)
                                {
                                    <form asp-action="PartialModalReadEmail" asp-controller="EmaOptionew" asp-route-emailId="@item.Id" method="post" data-ajax="true" data-ajax-update="#newModal" data-ajax-success="$('#newModal').modal('show');" class="form-submit">
                                        <button type="submit" title="Перейти к обращению" class="btn waves-effect waves-light btn-sm btn-danger"><i class="fa fa-chevron-right"></i></button>
                                    </form>
                                }
                                <button type="button" class="on-default text-custom btn btn-link btn-tooltip-info" data-tooltip-info='{ "appeal_number": "@item.NumberAppeal", "EmployeesFio": "@item.EmployeesName"}'>
                                    <i class="ion-ios7-information-outline"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            }
            else
            {
                <div class="alert-no-record">
                    <span style="color: #00545c;"><strong><i class="icon-info"></i></strong> По данному запросу ничего не найдено.</span>
                </div>
            }
            <tfoot>
                <tr class="tfoot-row">
                    <td colspan="3" class="text-left">
                        <div class="text-muted divider">Показаны  <span id="filter_count">@((Model.PageInfo.CurrentPage * Model.PageInfo.ItemsPerPage > Model.PageInfo.TotalItems) ? Model.PageInfo.TotalItems : Model.PageInfo.CurrentPage * Model.PageInfo.ItemsPerPage)</span> из <span id="tr_count">@Model.PageInfo.TotalItems</span> записей</div>
                    </td>
                    <td colspan="4">
                        <div class="pagination pagination-split footable-pagination justify-content-end m-t-5 m-b-5" id="datatable-editable_paginate">
                           @*  @Html.PageLinks(Model.PageInfo, x =>  ) *@
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <hr />
    <div id="sources_play_content">
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#loadPageLink').on('click', function (e) {
            e.preventDefault(); // Prevent default link behavior
            var url = '@Url.Action("PartialTableSources", "Sources")'; // Define your action URL

            $.ajax({
                url: url,
                type: 'GET',
                data: {
                    page: @Model.PageInfo.CurrentPage,
                    search: '@ViewBag.Search',
                    action_: '@ViewBag.Action',
                    sources: '@ViewBag.Sources',
                    sprEmployeeId: '@ViewBag.SprEmployeesId',
                    period: '@ViewBag.Period',
                    is_connected: '@ViewBag.IsConnected'
                },
                success: function (result) {
                    $('#sourcesTableContainer').html(result); // Update table content
                },
                error: function (xhr, status, error) {
                    console.log('Error: ' + error);
                }
            });
        });
    });
    $(function () {
        $('button[data-tooltip-info]')
        $('button[data-tooltip-info]').tooltip({
            title: function () {
                var tooltipInfo = $(this).data('tooltipInfo');
                return "<div class='text-left'>" +
                    "<strong>Номер дела:</strong> " + tooltipInfo['appeal_number'] + "</br>" +
                    "<strong>Сотрудник:</strong> " + tooltipInfo['EmployeesFio'] + "</br>" +
                    "</div>";
            },
            html: true,
            placement: "left"
        });
    });


    // Добавляем возможность выбора строки в таблице
    if ($('#sourcesTable tr:not(.thead-row, .tfoot-row)'))
    $('#sourcesTable tr:not(.thead-row, .tfoot-row)').click(function () {
        $(this).siblings('tr:not(.thead-row)').removeClass('active');
        $(this).addClass('active');
    });
</script>