@model SourcesViewModel

<link href="~/new_design/plugins/footable/css/footable.core.css" rel="stylesheet">
<div class="card-box p-0">
    <div class="table-responsive">
        <table id="sourcesTable" class="journal-incoming table route-table table-td-sm table-vertical-middle mb-0" data-page-size="10" data-limit-navigation="5">
            <div class="input-group">
                <div class="input-group-prepend align-items-center">
                    <span class="px-3 text-secondary" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" id="searchTextSources" value="@ViewBag.Search" class="form-control pl-0 border-0" placeholder="Поиск ..." aria-label="Username" aria-describedby="basic-addon1" autocomplete="on">
                <div class="input-group-append align-items-center">
                    <span class="px-3 text-secondary" id="basic-addon1"><i class="md md-keyboard-return"></i></span>
                </div>
            </div>
            <tbody>
                @if (Model.SourceModel.Any())
                {
                    @foreach (var item in Model.SourceModel.OrderByDescending(o => o.DateAdd))
                    {
                        <tr>
                            <td>
                                @(Model.SourceModel.Count() - Model.SourceModel.IndexOf(item))
                            </td>
                            <td class="vertical-middle p-l-20-important text-nowrap">
                                @item.ApplicantName
                            </td>
                            <td class="vertical-middle">
                                @item.Contact
                            </td>
                            <td class="vertical-middle">
                                @item.DateAdd.Value.ToString("dd.MM.yyyy")
                                <small class="d-block text-muted">@item.DateAdd.Value.ToString("HH:mm:ss")</small>
                            </td>
                            <td class="vertical-middle">
                                @item.Option
                            </td>
                            <td class="vertical-middle p-r-20-important text-right" style="font-size: 22px;line-height: 22px;">
                                @if (item.SaveFtp)
                                {
                                    <button type="button" class="btn btn-link btn-audio" onclick="AudioPlay('@item.Id')"><i class="md md-play-circle-outline"></i></button>
                                }
                                @if (item.NumberAppeal == null)
                                {
                                    if (User.IsInRole("superadmin") || User.IsInRole("admin") || User.IsInRole("operator"))
                                    {
                                        if (item.Type == SourcesType.call)
                                        {
                                            <button type="button" onclick="NewAppeal('@item.Id')" title="Создать обращение на основе звонка" class="btn waves-effect waves-light btn-sm bg-custom"><i class="fa fa-plus" style="color:white;"></i></button>
                                        }
                                    }
                                }
                                else
                                {
                                    <button type="button" onclick="Info('@item.NumberAppeal','@true')" title="Перейти к обращению" class="btn waves-effect waves-light btn-sm btn-danger"><i class="fa fa-chevron-right"></i></button>
                                }
                                @if (item.Type == SourcesType.call)
                                {
                                    <button type="button" class="btn waves-effect waves-light btn-sm bg-custom" onclick="onCallModalBtnClick('@item.Contact','@item.NumberAppeal')"><i class="md md-call" style="color:white;"></i></button>
                                }
                                @if (item.Type == SourcesType.email)
                                {
                                    <button onclick="InfoEmail('@item.Id')" type="button" title="Перейти к обращению" class="btn waves-effect waves-light btn-sm btn-danger"><i class="fa fa-chevron-right"></i></button>
                                }
                                <button type="button" class="on-default text-custom btn btn-link btn-tooltip-info" data-tooltip-info='{ "appeal_number": "@item.NumberAppeal", "EmployeesFio": "@item.EmployeesName"}'>
                                    <i class="ion-ios7-information-outline"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="alert-no-record">
                        <td colspan="3"> <span style="color: #00545c;"><strong><i class="icon-info"></i></strong> Нет данных </span></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="foot-row">
                    <td colspan="7">
                        <div style="height:50px" id="sources_play_content">
                        </div>
                    </td>
                </tr>
                <tr class="foot-row">
                    <td colspan="3" class="text-left">
                        <div class="text-muted divider">Найдено  <span id="filter_count"></span> из <span id="tr_count"></span> записей</div>
                    </td>
                    <td colspan="4">
                        <div class="text-right">
                            <ul class="pagination pagination-split footable-pagination justify-content-end m-t-5 m-b-5"></ul>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script src="~/new_design/plugins/jquery.steps/js/jquery.steps.min.js"></script>
<script src="~/new_design/plugins/footable/js/footable.all.min.js"></script>

<script>
    var filtering = $('#sourcesTable');
    filtering.footable();
    $('#sourcesTable #filter_count').text($('#sourcesTable.footable tbody tr:not(.footable-filtered)').length);
    $('#sourcesTable #tr_count').text($('#sourcesTable.footable tbody tr').length);

    // Search input
    $('#searchTextSources').keyup(function (evt) {
        evt.preventDefault();
        filtering.trigger('footable_filter', { filter: $(this).val() });
        $('#sourcesTable #filter_count').text($('#sourcesTable.footable tbody tr:not(.footable-filtered)').length);
    });

    $('button[data-tooltip-info]').tooltip({
        title: function () {
            var tooltipInfo = $(this).data('tooltipInfo');
            return "<div class='text-left'>" +
                "<strong>Номер дела:</strong> " + tooltipInfo['appeal_number'] + "</br>" +
                "<strong>Сотрудник:</strong> " + tooltipInfo['EmployeesFio'] + "</br>" +
                "</div>";
        },
        html: true,
        placement: "left"
    });


    // Добавляем возможность выбора строки в таблице
    if ($('#sourcesTable tr:not(.thead-row, .foot-row)'))
        $('#sourcesTable tr:not(.thead-row, .foot-row)').click(function () {
            $(this).siblings('tr:not(.thead-row)').removeClass('active');
            $(this).addClass('active');
        });

    function InfoEmail(emailId) {
        $.ajax({
            url: '@Url.Action("PartialModalReadEmail", "Appeal")',
            type: 'POST',
            data: {
                emailId: emailId,
            },
            success: function (data) {
                $('#newModal').html(data);
                $('#newModal').modal('show');
            },
        });
    }

    function Info(number, modal) {
        $.ajax({
            url: '@Url.Action("AppealInfo", "Appeal")',
            type: 'POST',
            data: {
                number: number, modal: modal
            },
            success: function (data) {
                $('#newModal').html(data);
                $('#newModal').modal('show');
            },
        });
    }
    function NewAppeal(id) {
        $.ajax({
            url: '@Url.Action("NewAppeal", "Appeal")',
            type: 'POST',
            data: {
                callId: id
            },
            success: function (data) {
                $('#newModal').html(data);
                $('#newModal').modal('show');
            },
        });
    }

</script> 